html, body, #root, .App {
    height: 100%
}

.filter-mobile-content {
    flex: 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 12px 0 20px;
    margin-right: 12px;
  
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
      padding-top: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      height: 20px;
    }
  }